CONFIG_ARM=y
CONFIG_SYS_ARCH_TIMER=y
CONFIG_ARCH_M2S=y
CONFIG_SYS_TEXT_BASE=0x00000000
CONFIG_TARGET_CORMORANT=y
CONFIG_ARCH_MISC_INIT=y
CONFIG_HUSH_PARSER=y
# CONFIG_NET is not set
CONFIG_DM=y
# CONFIG_DM_DEVICE_REMOVE is not set
CONFIG_DM_MMC=y
CONFIG_SPECIFY_CONSOLE_INDEX=y
CONFIG_DM_SERIAL=y
CONFIG_SYS_NS16550=y
